<p id="notice"><%= notice %></p>

<p>
  <strong>Rdv:</strong>
  <%= @prisedesang.rdv %>
</p>

<p>
  <strong>Note:</strong>
  <%= @prisedesang.note %>
</p>

<%= link_to 'Edit', edit_prisedesang_path(@prisedesang) %> |
<%= link_to 'Back', prisedesangs_path %>
