<h1>Graphs#hello</h1>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h3>Number of tests per day</h3>
<%= area_chart Glycemy.where(:user_id => current_user.id).group_by_day(:date).count %>
<h3>Average value of the tests per day</h3>

<%= area_chart Glycemy.where(:user_id => current_user.id).group_by_day(:date).average(:valeur), {library: {hAxis: {title: "Date", format: 'd MMM y'}, vAxis: {title: "Average"}}} %>

<h3>% in the zone</h3>

<%= pie_chart Glycemy.where(:user_id => current_user.id).group(:hyper).group(:hypo).count %>

insuline

<%= area_chart [
	{name: "Insuline", data: Insuline.where(:user_id => current_user.id).group_by_day(:date, last: 8).sum(:unit) },
	{name: "Carb", data: Carb.where(:user_id => current_user.id).group_by_day(:date, last: 8).sum(:valeur)} ] %>