<p id="notice"><%= notice %></p>

<p>
  <strong>Hb:</strong>
  <%= @result.hb %>
</p>

<p>
  <strong>Hb:</strong>
  <%= @result.hb %>
</p>

<p>
  <strong>Note:</strong>
  <%= @result.note %>
</p>

<p>
  <strong>Date:</strong>
  <%= @result.date %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
