<%- model_class = Glycemy -%>

<p>
<%= form_tag glycemies_path, :method => 'get', :id => "products_search" do %>
  
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search on dates", :name => nil %>
  
 <% end %>

<%= form_tag glycemies_path, :method => 'get', :id => "products_search" do %>
  
    <%= text_field_tag :search2, params[:search] %>
    <%= submit_tag "Search on notes", :name => nil %>
  
 
<% end %>

</p>
<%= paginate @glycemies %>
<table class="table table-striped">
  <thead>
    <tr>

     <!-- <th><%= model_class.human_attribute_name(:id) %></th>-->
      <th><%= sortable "valeur" %></th>
      <th><%= sortable "note" %></th>
      <!--<th><%= model_class.human_attribute_name(:user_id) %></th>-->
      <th><%= sortable "date" %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  
    <% @glycemies.each do |glycemy|  %>
      <tr>
      
        <!--<td><%= link_to glycemy.id, glycemy_path(glycemy) %></td>-->
        <td><%= glycemy.valeur %></td>
        <td><%= glycemy.note %></td>
        <!--<td><%= glycemy.user_id %></td>-->
        <td><%= glycemy.date %></td>
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_glycemy_path(glycemy), :class => 'btn btn-mini' %>
          <!--<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      glycemy_path(glycemy),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>-->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_glycemy_path,
            :class => 'btn btn-primary' %>


<h2> Import glycemies </h2>

Not available in the demo version, if you want to import your data from your readers please install the app on your own web server.

<%= form_tag import_glycemies_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>