<%= form_for @insuline, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
    
      <%= f.collection_select :name, Insuline::TYPE, :to_s, :to_s, :include_blank => true %>
      
     
     <!-- <%= f.text_field :name, :class => 'text_field' %> -->
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'text_field' %>
    </div>
  </div>
 <%= hidden_field :user_id, value: @user.try(:id) %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                insulines_path, :class => 'btn' %>
  </div>
<% end %>
