<h1>Graphs recap for last month</h1>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h2>Number of tests per day</h2>
<%= area_chart Glycemy.where(:user_id => current_user.id).group_by_day(:date, last: 30).count %>
<h2>Average value of the tests per day</h2>

<%= area_chart Glycemy.where(:user_id => current_user.id).group_by_day(:date, last: 30).average(:valeur), {library: {hAxis: {title: "Date", format: 'd MMM y'}, vAxis: {title: "Average"}}} %>

<h2>Hyper/Hypoglycemia per day</h2>

<%= line_chart [
	{name: "Hyper", data: Glycemy.where(:user_id => current_user.id).group_by_day(:date, last: 30).count(:hyper)},
	{name: "Hypo", data: Glycemy.where(:user_id => current_user.id).group_by_day(:date, last: 30).count(:hypo)},
	] %>

<h2>Insulin-Carb ratio</h2>

<%= area_chart [
	{name: "Insuline", data: Insuline.where(:user_id => current_user.id).group_by_day(:date, last: 30).sum(:unit) },
	{name: "Carb", data: Carb.where(:user_id => current_user.id).group_by_day(:date, last: 30).sum(:valeur)} ] %>